<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Insura Broker - error 404</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/assets/css/style.css}" href='../static/assets/css/style.css'>
    <script defer th:src="@{/assets/js/main.js}" src='../static/assets/js/main.js'></script>
</head>
<body>
    <img th:src="@{/assets/img/error/ERROR404.gif}" src="../static/assets/img/error/ERROR404.gif" alt="error 404 page not found"/>
</body>
</html>