
/*--------------------------------------
LOGIN
---------------------------------------*/
:root{
    --dark-s: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}


#loginbody {
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 300;
    color: var(--light) !important;
}

.bg-dark-s {
    background-color: var(--dark-s) !important;  
}

.bg-dark-x {
    background-color: var(--dark-x) !important;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}



.forget-pass:hover, .cuidamos:hover,  #checkRecuerda:hover {
    color:rgba(32, 216, 248, 0.836) !important;
}

.loginText:hover {
    border-color: rgb(173, 190, 235) !important;
    background-clip: text;
    -webkit-background-clip: text;
    min-width: 320px;
    

    color: transparent;
    background-image: url(../img/holo-image.gif);
}


